#### Dataframes

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import sklearn as sk
import sklearn.tree as tree
from IPython.display import Image  
import pydotplus

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
dfe = pd.read_csv('Employment.csv')
dfp = pd.read_csv('Population.csv')
dfv = pd.read_csv('Vehicle.csv')
dfc = pd.read_csv('Vaccinations.csv')

C:\Users\ninja\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### Cleaned Employment Dataframe

In [4]:
new_header = dfe.iloc[0] #Changes the first row to be the header of the dataframe
dfe = dfe[1:]
dfe.columns = new_header

In [5]:
#Counts how many columns in the table there are and drops all columns past "age over 75"
h = 0
for i in dfe.columns:
    if 'Margin of Error' in i:
        dfe.drop(columns = i, inplace = True)
    elif h > 12:
        dfe.drop(columns = i, inplace = True)
    else:
        h += 1

In [6]:
#Removes the id column
dfe.drop(columns = 'id', inplace = True)

In [7]:
#Renames the columns into simpler terms
dfe.columns = ['Zip Code',
              'Total Population Age 16+',
              'Ages 16-19',
              'Ages 20-24',
              'Ages 25-29',
              'Ages 30-34',
              'Ages 35-44',
              'Ages 45-54',
              'Ages 55-59',
              'Ages 60-64',
              'Ages 65-74',
              'Ages 75+']

In [8]:
#Defines a function to remove ZTCA5 from every zipcode
def Zipfinder(Zipcode):
        j = Zipcode.replace('ZCTA5 ', '')
        return j

In [9]:
dfe['Zip Code'] = dfe['Zip Code'].apply(Zipfinder) #Applies Zipfinder to the Zipcode column

In [10]:
#Converts columns into integers
def Intconvert(integer):
        i = int(integer)
        return i

In [11]:
dfe['Total Population Age 16+'] = dfe['Total Population Age 16+'].apply(Intconvert)

In [12]:
dfe['Ages 16-19'] = dfe['Ages 16-19'].apply(Intconvert)

In [13]:
dfe['Ages 20-24'] = dfe['Ages 20-24'].apply(Intconvert)

In [14]:
dfe['Ages 25-29'] = dfe['Ages 25-29'].apply(Intconvert)

In [15]:
dfe['Ages 30-34'] = dfe['Ages 30-34'].apply(Intconvert)

In [16]:
dfe['Ages 35-44'] = dfe['Ages 35-44'].apply(Intconvert)

In [17]:
dfe['Ages 45-54'] = dfe['Ages 45-54'].apply(Intconvert)

In [18]:
dfe['Ages 55-59'] = dfe['Ages 55-59'].apply(Intconvert)

In [19]:
dfe['Ages 60-64'] = dfe['Ages 60-64'].apply(Intconvert)

In [20]:
dfe['Ages 65-74'] = dfe['Ages 65-74'].apply(Intconvert)

In [21]:
dfe['Ages 75+'] = dfe['Ages 75+'].apply(Intconvert)

In [22]:
dfe #Employment Dataframe

,Zip Code,Total Population Age 16+,Ages 16-19,Ages 20-24,Ages 25-29,Ages 30-34,Ages 35-44,Ages 45-54,Ages 55-59,Ages 60-64,Ages 65-74,Ages 75+
1,89010,410,8,0,8,34,69,43,26,75,102,45
2,89019,1730,60,95,219,141,117,339,280,101,320,58
3,89060,8347,144,349,608,271,689,1352,1018,873,1723,1320
4,89061,5394,196,182,109,389,396,508,458,835,1487,834
5,89439,1161,4,55,29,96,109,110,204,198,172,184
...,...,...,...,...,...,...,...,...,...,...,...,...
1765,96148,471,0,35,129,106,18,22,31,73,26,31
1766,96150,24911,1211,2431,2420,2482,3889,3218,2150,2605,3036,1469
1767,96155,0,0,0,0,0,0,0,0,0,0,0
1768,96161,14763,759,957,541,1353,3215,2746,1405,1186,2180,421
1769,97635,141,0,0,0,0,35,13,47,14,10,22

#### Cleaned Population Dataframe

In [23]:
#Converts Zip Code values into a string
def Strconvert(string):
        z = str(string)
        return z

In [24]:
dfp['Zip Code'] = dfp['Zip Code'].apply(Strconvert)

In [25]:
dfp.rename(columns = {'Population' : 'Total Population'}, inplace = True)

In [26]:
dfp #Population dataframe

     Zip Code  Total Population
0       90011            111165
1       91331            105458
2       90650            105304
3       90201            101965
4       90044             99443
...       ...               ...
1741    95680                10
1742    95430                 7
1743    92267                 6
1744    92364                 6
1745    95375                 5

[1746 rows x 2 columns]

#### Cleaned Vehicle Dataframe

In [27]:
dfv.drop(columns = ['Date', 'Duty', 'Fuel'], inplace = True) #Drops the columns date, duty, and fuel

In [28]:
dfv.drop(index = dfv[dfv['Zip Code'] == 'OOS'].index, inplace = True) #Drops all rows with OOS as the zip code value

In [29]:
dfv #Vehicle dataframe

       Zip Code Model Year   Make  Vehicles
0         90001       2007  ACURA        15
1         90002       2007  ACURA        20
2         90003       2007  ACURA        29
3         90004       2007  ACURA        19
4         90006       2007  ACURA        15
...         ...        ...    ...       ...
602387    91405        Unk    Unk        36
602388    95816        Unk    Unk       217
602390    90012        Unk    Unk        12
602391    93065        Unk    Unk        11
602392    95762        Unk    Unk        12

[601042 rows x 4 columns]

In [30]:
dfvg = dfv.groupby('Zip Code')[['Make']].max() #Groups all vehicles by zip code and finds the most used make and stores it into dfvg
dfvg

               Make
Zip Code
90000         WHITE
90001         VOLVO
90002         VOLVO
90003         VOLVO
90004         VOLVO
...             ...
99836     OTHER/UNK
99840     OTHER/UNK
99900     OTHER/UNK
99901     OTHER/UNK
99999     OTHER/UNK

[5349 rows x 1 columns]

#### Cleaned Vaccinations Dataframe

In [31]:
print(dfc.columns)

Index(['as_of_date', 'zip_code_tabulation_area', 'local_health_jurisdiction',
       'county', 'vaccine_equity_metric_quartile', 'vem_source',
       'age12_plus_population', 'age5_plus_population',
       'persons_fully_vaccinated', 'persons_partially_vaccinated',
       'percent_of_population_fully_vaccinated',
       'percent_of_population_partially_vaccinated',
       'percent_of_population_with_1_plus_dose', 'booster_recip_count',
       'redacted'],
      dtype='object')

In [32]:
#print(dfc[['as_of_date', 'zip_code_tabulation_area', 'percent_of_population_fully_vaccinated']])

w = dfc[dfc['as_of_date'] == '2022-01-04']
print(w[['zip_code_tabulation_area', 'percent_of_population_fully_vaccinated']])

       zip_code_tabulation_area  percent_of_population_fully_vaccinated
91728                     95715                                     NaN
91729                     95210                                0.544112
91730                     90007                                0.803220
91731                     92389                                     NaN
91732                     94306                                0.937293
...                         ...                                     ...
93487                     93703                                0.570365
93488                     93705                                0.568240
93489                     90815                                0.741964
93490                     95468                                0.687602
93491                     93610                                0.385962

[1764 rows x 2 columns]

In [33]:
#For our purpouses we only want to look at vaccination rates as of the begining of this year 

dfc.drop(dfc[dfc['as_of_date'] != '2022-01-04'].index, inplace = True)
#dfc

In [34]:
# For our purpouses we're only keeping the zip code column and the columns with %vaccinated info

dfc = dfc.drop(['as_of_date', 'local_health_jurisdiction',
       'county', 'vaccine_equity_metric_quartile', 'vem_source',
       'age12_plus_population', 'age5_plus_population',
       'persons_fully_vaccinated', 'persons_partially_vaccinated', 'redacted'], axis=1)

#dfc

In [35]:
#we don't want the rows with nan values for % vaccinated 

dfc = dfc.dropna(subset = ['percent_of_population_fully_vaccinated', 'percent_of_population_partially_vaccinated'])
dfc

,zip_code_tabulation_area,percent_of_population_fully_vaccinated,percent_of_population_partially_vaccinated,percent_of_population_with_1_plus_dose,booster_recip_count
91729,95210,0.544112,0.113678,0.657790,5297.0
91730,90007,0.803220,0.085717,0.888937,12274.0
91732,94306,0.937293,0.056667,0.993960,14459.0
91733,93043,0.223881,0.089552,0.313433,NaN
91734,92365,0.298429,0.028997,0.327426,205.0
...,...,...,...,...,...
93487,93703,0.570365,0.057238,0.627603,4242.0
93488,93705,0.568240,0.052225,0.620465,5678.0
93489,90815,0.741964,0.080471,0.822435,13889.0
93490,95468,0.687602,0.094617,0.782219,377.0
93491,93610,0.385962,0.048817,0.434779,2271.0

In [36]:
#we'll give the columns easier names 

dfc = dfc.rename(columns = {"zip_code_tabulation_area": "Zip Code", "percent_of_population_fully_vaccinated": "Fully Vaccinated", "percent_of_population_partially_vaccinated": "Partially Vaccinated", "percent_of_population_with_1_plus_dose": "1_plus_dose"})

In [37]:
#Converts the Zip Code column into strings
dfc['Zip Code'] = dfc['Zip Code'].apply(Strconvert)

In [38]:
dfc

,Zip Code,Fully Vaccinated,Partially Vaccinated,1_plus_dose,booster_recip_count
91729,95210,0.544112,0.113678,0.657790,5297.0
91730,90007,0.803220,0.085717,0.888937,12274.0
91732,94306,0.937293,0.056667,0.993960,14459.0
91733,93043,0.223881,0.089552,0.313433,NaN
91734,92365,0.298429,0.028997,0.327426,205.0
...,...,...,...,...,...
93487,93703,0.570365,0.057238,0.627603,4242.0
93488,93705,0.568240,0.052225,0.620465,5678.0
93489,90815,0.741964,0.080471,0.822435,13889.0
93490,95468,0.687602,0.094617,0.782219,377.0
93491,93610,0.385962,0.048817,0.434779,2271.0

#### Merged Dataframe

In [39]:
dff = dfe.merge(dfp, left_on = 'Zip Code', right_on = 'Zip Code') #Merges dfe and dfp into dff

In [40]:
dff = dff.merge(dfvg, left_on = 'Zip Code', right_on = 'Zip Code') #Merges dff and dfvg

In [41]:
dff = dff.merge(dfc, left_on = 'Zip Code', right_on = 'Zip Code') #Merges dff and dfc

In [42]:
dff = dff.set_index('Zip Code') #Sets the Zip Code column to the index of dff

In [43]:
dff['%_Employed'] = dff['Total Population Age 16+'].values / dff['Total Population'].values

In [44]:
dff

,Total Population Age 16+,Ages 16-19,Ages 20-24,Ages 25-29,Ages 30-34,Ages 35-44,Ages 45-54,Ages 55-59,Ages 60-64,Ages 65-74,Ages 75+,Total Population,Make,Fully Vaccinated,Partially Vaccinated,1_plus_dose,booster_recip_count,%_Employed
Zip Code,,,,,,,,,,,,,,,,,,
90001,42853,3928,4839,4848,4818,8082,6848,2953,2405,2694,1438,59832,VOLVO,0.742086,0.229377,0.971463,8211.0,0.716222
90002,38146,3843,4911,4274,3431,7497,6413,2259,2179,2021,1318,53302,VOLVO,0.642248,0.082327,0.724575,6941.0,0.715658
90003,52804,5135,5620,7236,5288,9767,8816,3536,2855,2782,1769,73730,VOLVO,0.639501,0.093085,0.732586,8645.0,0.716181
90004,50096,2478,3993,6658,6487,9289,8219,3378,3050,4151,2393,60541,VOLVO,0.766256,0.077809,0.844065,17583.0,0.827472
90005,33217,1528,2651,4695,3965,6750,4835,2105,1661,2707,2320,39732,VOLVO,0.719897,0.088731,0.808628,10083.0,0.836026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96145,1854,13,23,117,146,346,301,109,173,331,295,2147,VOLVO,1.000000,0.179853,1.000000,1090.0,0.863531
96146,973,10,51,85,145,125,234,101,81,98,43,1145,VOLKSWAGEN,0.909926,0.122243,1.000000,379.0,0.849782
96148,471,0,35,129,106,18,22,31,73,26,31,580,Unk,1.000000,0.188065,1.000000,229.0,0.812069
96150,24911,1211,2431,2420,2482,3889,3218,2150,2605,3036,1469,29327,VOLVO,0.461633,0.080447,0.542080,4217.0,0.849422
96161,14763,759,957,541,1353,3215,2746,1405,1186,2180,421,18488,WORKHORSE,0.638404,0.090697,0.729101,4220.0,0.798518